<h1>Welcome!</h1>
<p>Welcome to story books 1.0.0</p>
<p>dvdsv dscsdcsd csd csd csd csd c sd</p>
{{#if user}}
{{else}}
<a href="/auth/google" class="btn red darken-1"><i class="fa fa-google left"></i> Login With Google</a>
{{/if}}
